.projects {
	position: relative;
	padding-bottom: clamp(88px, 53.5px + 10.76vw, 167px);
}
.decorativeElement {
	background: #8000ff80;
	filter: blur(55px);
	width: clamp(77px, 66.9px + 3.13vw, 100px);
	height: clamp(77px, 66.9px + 3.13vw, 100px);
	top: 0;
	left: 0;
	@media (max-width: 440px) {
		& {
			filter: blur(49px);
		}
	}
}
