.socialLinks {
	position: fixed;
	bottom: 44px;
	left: 34px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: clamp(40px, 35.6px + 1.36vw, 50px);
	z-index: 100;
	padding: clamp(10px, 7.8px + 0.68vw, 15px);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: clamp(8px, 4.9px + 0.95vw, 15px);
	&__link {
		color: #fff;
		transition:
			color 0.22s ease-in-out,
			transform 0.22s ease-in-out,
			opacity 0.22s ease-in-out;
		display: block;
		opacity: 0.7;
		svg {
			color: currentColor;
		}
		@media (hover: hover) {
			&:hover {
				color: #6496ff;
				opacity: 1;
				transform: translateY(-5px);
			}
		}
	}
	&__label {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}
	@media (max-width: 400px) {
		left: 20px;
		bottom: 20px;
	}
}
