.qualification {
	position: relative;
	padding-bottom: clamp(88px, 67.9px + 6.27vw, 134px);
	&__tab {
		color: #fff;
		padding: clamp(10px, 12.8px + 0.68vw, 20px);
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: clamp(10px, 5.6px + 1.36vw, 20px);
	}
}
.decorativeElement {
	background-color: var(--decor_elem-bg_color);
	filter: blur(55px);
	width: clamp(77px, 66.9px + 3.13vw, 100px);
	height: clamp(77px, 66.9px + 3.13vw, 100px);
	top: 55px;
	right: 0;
	@media (max-width: 440px) {
		filter: blur(49px);
	}
}
