.loader {
	width: 16px;
	height: 16px;
	border: 2px solid transparent;
	border-top-color: #fff;
	border-radius: 50%;
	animation: loading 1s linear infinite;
	margin: 0 auto;
}
@keyframes loading {
	to {
		transform: rotate(360deg);
	}
}
