.experience {
	position: relative;
	padding-bottom: clamp(88px, 67.9px + 6.27vw, 134px);
	&__tab {
		height: 200px;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 20px;
	}
}
.decorativeElement {
	background-color: var(--decor-elem-bg-color);
	filter: blur(55px);
	width: clamp(77px, 66.9px + 3.13vw, 100px);
	height: clamp(77px, 66.9px + 3.13vw, 100px);
	top: 55px;
	right: 0;
	@media (max-width: 440px) {
		& {
			filter: blur(49px);
		}
	}
}
