.textareaBox {
	height: clamp(119.2px, 84.4px + 10.84vw, 198.8px);
	&__textarea {
		width: 100%;
		border-radius: 12px;
		background-color: rgba(50, 50, 80, 0.5);
		border: 1px solid rgba(100, 100, 150, 0.3);
		transition: all 0.3s ease;
		padding: clamp(12px, 7.2px + 1.5vw, 23px) clamp(11px, 7px + 1.23vw, 20px);
		color: #fff;
		font-size: clamp(16px, 13.3px + 0.82vw, 22px);
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.38px;
		&:focus {
			outline: none;
			border-color: rgba(100, 150, 255, 0.7);
			box-shadow: 0 0 10px rgba(100, 150, 255, 0.3);
		}

		&::placeholder {
			color: rgba(255, 255, 255, 0.6);
		}
	}
	&__error {
		padding-top: clamp(2px, 0.6px + 0.41vw, 5px);
		font-size: clamp(15px, 14.5px + 0.14vw, 16px);
		color: red;
		display: block;
		font-weight: 400;
	}
}
