.tableContainer {
	padding: 20px 0;
	overflow-x: auto;
	overflow-y: scroll;
	height: 100%;
	position: relative;
}
.loading {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.table {
	width: 100%;
	border-collapse: collapse;
	background: #2d2f36;
	border-radius: 10px;
	overflow: hidden;
}
.tableHeader,
.tableCell {
	padding: 12px 16px;
	border-bottom: 1px solid #44464d;
}
.tableHeader {
	background: #3e4049;
	color: #ffffff;
	font-weight: 600;
}
.tableCell {
	color: #e5e7eb;
	a {
		color: #e5e7eb;
		text-decoration: none;
	}
}
.tableRow:hover {
	background: #3a3c44;
	transition: background 0.2s ease-in-out;
}
.delete {
	display: flex;
	justify-content: center;
	button {
		width: 34px;
		height: 34px;
		background: none;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		color: #fff;
		transition:
			color 0.2s ease-in-out,
			background-color 0.2s ease-in-out;
		border-radius: 50%;
		background-color: #484a53;
		&:hover {
			color: #ea1010;
		}
		svg {
			width: 63%;
			height: 63%;
			path[fill='#ffffff'] {
				fill: currentColor;
			}
		}
	}
	&__loader {
		width: 63%;
		height: 63%;
	}
}
.name {
	max-width: 150px;
}
.email {
	max-width: 210px;
	a {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #fff;
			height: 0.1px;
			text-decoration: underline;
		}
	}
}
.message {
	max-width: 250px;
}
.name,
.email,
.message {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
