.skillItem {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: clamp(65px, 49.7px + 4.77vw, 100px);
	height: clamp(65px, 49.7px + 4.77vw, 100px);
	svg {
		width: 100%;
		height: 100%;
		animation: fadeIn 0.25s ease-in-out;
	}
	&__name {
		color: #fff;
		font-size: 20px;
		padding-top: 10px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
