.greeting {
	position: relative;
	padding: clamp(140px, 122.5px + 5.45vw, 180px) 0 clamp(88px, 69.6px + 5.72vw, 130px) 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
	&__image {
		width: clamp(178px, 81.2px + 30.25vw, 400px);
		height: clamp(178px, 81.2px + 30.25vw, 400px);
		border-radius: 50%;
		box-shadow:
			25px 25px 60px 0px rgba(0, 0, 0, 0.25),
			-25px -25px 60px 0px rgba(255, 255, 255, 0.25);
		background: linear-gradient(-40.06deg, rgb(47, 51, 57) 14.776%, rgb(21, 24, 28) 95.732%);
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__message {
		font-size: clamp(23px, 16.4px + 2.04vw, 38px);
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.38px;
		padding-top: clamp(35px, 26.2px + 2.72vw, 55px);
	}
	&__title {
		font-size: clamp(33px, 20.3px + 3.95vw, 62px);
		font-weight: 700;
		letter-spacing: 0.38px;
	}
	&__subtitle {
		font-size: clamp(23px, 16.4px + 2.04vw, 38px);
		font-weight: 500;
		line-height: 52px;
		letter-spacing: 0.38px;
		padding-bottom: 11px;
		span {
			color: #cc6ce7;
		}
	}
	&__description {
		max-width: 695px;
		font-size: clamp(17.5px, 15.9px + 0.48vw, 21px);
		font-weight: 300;
		line-height: 28px;
		letter-spacing: 0.38px;
		text-align: center;
		padding-bottom: 44px;
	}
	&__buttons {
		display: flex;
		gap: clamp(27px, 14.8px + 3.81vw, 55px);
		padding-bottom: clamp(0px, -10.4px + 3.27vw, 24px);
		a {
			border-radius: 25px;
			font-size: clamp(15px, 13.2px + 0.54vw, 19px);
			font-weight: 500;
			line-height: 28px;
			letter-spacing: 0.38px;
			text-wrap: nowrap;
			text-transform: capitalize;
			padding: clamp(5px, 2.8px + 0.68vw, 10px);
			width: clamp(100px, 86.9px + 4.09vw, 130px);
		}
	}
}
.decorativeElement {
	background: deeppink;
	width: 100px;
	height: 100px;
	filter: blur(160px);
	bottom: 300px;
	left: 50%;
	transform: translate(-50%);
}
