.chatWidget {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: flex;
	width: 300px;
	height: 400px;
	flex-direction: column;
	border-radius: 20px;
	animation: slideIn 0.3s ease forwards;
	box-shadow: -3px -5px 15px #e8bbff;
	z-index: 1000;
	&.closed {
		animation: slideOut 0.3s ease-in-out forwards;
	}
	@media (max-width: 350px) {
		width: 100%;
		right: 0;
		left: 0;
		padding: 0 20px;
		animation: slideInBottom 0.3s ease forwards;
		box-shadow: none;
		&.closed {
			animation: slideOutBottom 0.3s ease-in-out forwards;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(44px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	to {
		transform: translateX(44px);
		opacity: 0;
	}
}

@keyframes slideInBottom {
	from {
		transform: translateY(44px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideOutBottom {
	to {
		transform: translateY(44px);
		opacity: 0;
	}
}
