* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
html {
	height: 100%;
}
body {
	color: #fff;
	height: 100%;
	background-color: #232732;
}
.notFound {
	height: 100%;
	text-align: center;
	align-content: center;
	flex-direction: column;
}
.notFound-title {
	font-size: clamp(18px, 16.2px + 0.54vw, 24px);
	padding-bottom: 15px;
}
.notFound-description {
	font-size: clamp(14px, 12.8px + 0.36vw, 18px);
}
