.loginForm {
	padding: 0 15px;
	max-width: 400px;
	width: 100%;
	&__input {
		font-size: 18px;
		padding: clamp(0.438rem, 0.256rem + 0.91vw, 0.938rem);
		&:first-of-type {
			// margin-bottom: 15px;
		}
	}
	&__button {
		width: 90%;
		margin: 0 auto;
	}
}
