.chat {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	&.disabled {
		width: 0;
		height: 0;
	}
	&__button {
		font-size: 16px;
		border-radius: 10px;
		padding: 7px 0;
		width: 63px;
		position: fixed;
		bottom: 20px;
		right: 20px;
		opacity: 1;
		animation: fadeIn 0.21s ease-in-out forwards;
		svg {
			width: 34px;
			height: 34px;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
