.chat {
	&__btn {
		font-size: 16px;
		border-radius: 10px;
		padding: 7px 0;
		width: 48px;
		height: 48px;
		position: fixed;
		bottom: 20px;
		right: 20px;
		opacity: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 88%;
			height: 88%;
		}
	}
}
