.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 998;
	padding: 15px clamp(20px, -14.8px + 10.9vw, 100px) 15px clamp(20px, -14.8px + 10.9vw, 100px);
	&__list {
		display: flex;
		gap: clamp(10px, 5.2px + 0.93vw, 15px);
	}
	&__link {
		color: #cc6ce7;
		text-decoration: none;
		font-size: clamp(15px, 14.1px + 0.27vw, 17px);
		position: relative;

		&::before {
			content: '';
			width: 0;
			height: 1.5px;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #cc6ce7;
			transition: width 0.22s ease-in-out;
		}
		@media (hover: hover) {
			&:hover::before {
				width: 100%;
			}
		}
	}
	&__actions {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: clamp(10px, 5.6px + 1.36vw, 20px);
		select {
			border: none;
			outline: none;
			background: none;
			color: #cc6ce7;
			font-size: 16px;
		}
		label {
			color: #fff;
		}
	}
	&__burger {
		width: clamp(35px, 32.8px + 0.68vw, 40px);
		height: clamp(35px, 32.8px + 0.68vw, 40px);
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		svg {
			width: 65%;
			height: 65%;
			animation: fadeIn 0.22s ease-in-out;
		}
	}
	&__resume {
		width: clamp(35px, 32.8px + 0.68vw, 40px);
		height: clamp(35px, 32.8px + 0.68vw, 40px);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(145deg, rgb(36, 39, 44), rgb(50, 53, 58));
		position: relative;
		z-index: 1;
		overflow: hidden;
		transition:
			transform 0.3s ease,
			box-shadow 0.3s ease;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(120deg, #7733ff, #ff6699);
			opacity: 0.2;
			transform: scale(1.5);
			transition:
				opacity 0.3s ease,
				transform 0.3s ease;
			z-index: -1;
		}
		@media (hover: hover) {
			&:hover {
				transform: scale(1.05);
				box-shadow:
					0 4px 20px rgba(119, 51, 255, 0.4),
					0 2px 10px rgba(255, 102, 153, 0.3);

				&::before {
					opacity: 0.6;
					transform: scale(1);
				}

				&::after {
					opacity: 0.8;
					transform: scale(1.2);
				}
			}
		}
		svg {
			width: 55%;
			height: 55%;
			fill: #fff;
		}
	}
	&:not(.active) {
		backdrop-filter: blur(3px);
		-webkit-backdrop-filter: blur(3px);
		background-color: rgba(0, 0, 0, 0.7);
		transition:
			background-color 0.22s ease-in-out,
			backdrop 0.22s ease-in-out;
	}

	&__mobileNav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 clamp(20px, -14.8px + 10.9vw, 100px) 0 clamp(20px, -14.8px + 10.9vw, 100px);
	}
	&__map {
		width: 100%;
		height: 200px;
		& > iframe {
			width: 100%;
			height: 100%;
		}
	}
	&__mobileList {
		display: none;
	}
	&__mobileItem {
		margin: 5px 0;
		text-align: center;
	}
	&__mobileLink {
		display: block;
		color: #fff;
		border-radius: 5px;
		background-color: rgb(163, 163, 163);
		text-decoration: none;
		padding: 5px 0;
		opacity: 0.7;
		font-size: clamp(15px, 14.1px + 0.27vw, 17px);
		&.active {
			opacity: 1;
			background-color: rgb(124, 124, 124);
		}
	}
	@media (max-width: 515px) {
		&__nav {
			display: none;
		}
		&__mobileNav {
			flex-direction: column;
		}
		&__mobileList {
			display: block;
			padding-bottom: 20px;
		}
	}
}
.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
