.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	// justify-content: flex-end;
	position: fixed;
	top: 0;
	z-index: 998;
	padding: 15px clamp(20px, -14.8px + 10.9vw, 100px) 15px clamp(20px, -14.8px + 10.9vw, 100px);

	&__nav {
		// display: none;
	}
	&__list {
		display: flex;
		gap: 20px;
		gap: 10px;
	}
	&__item {
		list-style: none;
	}
	&__link {
		color: #fff;
		text-decoration: none;
		font-size: clamp(15px, 14.1px + 0.27vw, 17px);
		&.active {
			color: #cc6ce7;
		}
	}
	&__actions {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__select {
		border: none;
		outline: none;
		background: none;
		color: #fff;
		font-size: 16px;
	}
	&__option {
	}
	&__burger {
		width: clamp(35px, 17px + 5.65vw, 48px);
		height: clamp(35px, 17px + 5.65vw, 48px);
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		svg {
			width: 65%;
			height: 65%;
			animation: fadeIn 222ms ease-in-out;
		}
	}
	&:not(.active) {
		background-color: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(3px);
	}
	&.active &__link {
		color: #000;
		&.active {
			color: #cc6ce7;
		}
	}

	&__mobileNav {
		// display: none;
		display: flex;
		justify-content: space-between;
		padding: 0 clamp(20px, -14.8px + 10.9vw, 100px) 0 clamp(20px, -14.8px + 10.9vw, 100px);
	}
	&__mobileList {
		list-style: none;
	}
	&__mobileItem {
	}
	&__mobileLink {
		color: #111;
		text-decoration: none;
		font-size: clamp(15px, 14.1px + 0.27vw, 17px);
	}
	@media (max-width: 440px) {
		&__nav {
			display: none;
		}
		&__mobileNav {
			display: block;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
