.languageSwitcher {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--border-color);
	width: 100%;
	gap: 10px;
	span {
		font-size: 17px;
		color: #fff;
	}
}
