.sidebar {
	min-width: clamp(200px, 107.3px + 13.92vw, 254px);
	background-color: #50505a;
	border-right: 1px solid var(--border-color);

	@media (max-width: 666px) {
		& {
			display: none;
		}
	}
}
