.certifications {
	position: relative;
	padding-bottom: clamp(88px, 59.2px + 8.99vw, 154px);
}
.decorativeElement {
	background-color: var(--decor-elem-bg-color);
	filter: blur(55px);
	width: clamp(77px, 66.9px + 3.13vw, 100px);
	height: clamp(77px, 66.9px + 3.13vw, 100px);
	top: 0;
	left: 0;
	@media (max-width: 440px) {
		& {
			filter: blur(49px);
		}
	}
}
